@model List<webdev.Models.Book>
<div>
    @using (Html.BeginForm("Create", "Book", FormMethod.Post))
    {
        <input type="text" name="Author" placeholder="Author"/> <br/>
        <input type="text" name="Title" placeholder="Title"/> <br/>
        <button type="submit">Add</button>
    }
</div>  
<div>
    <table>
        @foreach(var item in Model) {
            <tr>
                <td><strong>@Html.DisplayNameFor(model => item.Title):</strong></td>
                <td>@Html.DisplayFor(model => item.Title),</td>
                <td><strong>@Html.DisplayNameFor(model => item.Author):</strong></td>
                <td>@Html.DisplayFor(model => item.Author)</td>
                <td>| @Html.ActionLink("Delete", "Delete", "Book", item)</td>
                <td>| @Html.ActionLink("Edit", "Edit", "Book", item)</td>
            </tr>
        }
    </table>
</div>